<!DOCTYPE html>
<html>
  <mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    &nbsp; &nbsp;
  <span>Calculator APP</span>
  </mat-toolbar>
  <div class="main">
    <div>
      <div>
        <mat-card>
          <div>
            <div>
              <p>Enter First Element:</p>
              <input type="text" id="first" name="felement" #felement />
            </div>
            <div>
              <p>Enter Second Element:</p>
              <input type="text" id="second" name="selement" #selement />
            </div>
          </div>
        </mat-card>

        <div class="buttons">
          <div>
            <button (click)="Add(felement.value, selement.value)">
              Addition
            </button>
          </div>
          <div>
            <button (click)="Sub(felement.value, selement.value)">
              Subtract
            </button>
          </div>
          <div>
            <button (click)="Multiply(felement.value, selement.value)">
              Multiply
            </button>
          </div>
          <div>
            <button (click)="Divide(felement.value, selement.value)">
              Divide
            </button>
          </div>
        </div>
      </div>
      <div>
        <mat-card>
          <div>
            <p>Enter Element:</p>
            <input type="text" id="first" name="felement" #element />
          </div>
        </mat-card>
        <div class="buttons">
          <div>
            <button (click)="Fact(element.value)">Factorial</button>
          </div>
          <div>
            <button (click)="Prime(element.value)">Prime</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="answer == 0; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock> </ng-template>
      <ng-template #elseBlock>
        <h1 style="color: green;">Answer is : {{ answer }}</h1>
      </ng-template>
    </div>
    <div>
      <div *ngIf="prime.length == 0; then thenBlock; else elsBlock"></div>
      <ng-template #thenBlock> </ng-template>
      <ng-template #elsBlock class="hi">
        <h1>{{ prime }}</h1>
      </ng-template>
    </div>
  </div>
</html>
